* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: aqua;
  --secondary-color: black;
  --third-color: white;
}

.logo {
  color: white;
  align-items: center;
}

.navbar {
  background-color: var(--secondary-color);
  height: 5rem;
  justify-content: space-between;
  display: flex;
}

header .logo {
  display: flex;
  font-size: 1.5em;
  font-weight: 900;
  align-items: center;
  margin-left: 20px;
}

header .navbar-menu {
  color: var(--main-color);
  display: flex;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  cursor: pointer;
  gap: 2em;
  margin-right: 150px;
  transition: all 55s ease;
}

header .navbar-menu:hover {
  transform: scale(1.1);
  text-shadow: 0 0 20px var(--main-color);
}

header .profile-icon {
  display: flex;
  height: 40px;
  width: 40px;
  left: 0px;
  margin-top: 19px;
  margin-right: 90px;
  text-align: center;
  align-items: center;
  background: white;
  border-radius: 50%;
}

header .profile-icon i {
  padding-left: 13px;
}
