@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(style.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--third-color);
}

.hero-content {
  display: flex;
  margin-top: 70px;
}

.hero-content h1 {
  position: absolute;
  left: 180px;
  font-size: 3rem;
}

.hero-content p {
  position: relative;
  width: 50%;
  margin-top: 120px;
  word-spacing: 0.5px;
  justify-content: center;
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
  left: 180px;
}

.hero-content img {
  position: relative;
  right: 180px;
  width: 30%;
}

.btn-pesan-price {
  position: relative;
  height: 50px;
  top: 20px;
  left: 170px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--main-color);
  transition: all 0.3s ease;
}

.btn-pesan-price:hover {
  color: var(--main-color);
  background-color: var(--secondary-color);
  transform: scale(1.1);
}

.price-container {
  position: relative;
  height: auto;
  display: flex;
  left: 40px;
  margin-bottom: 100px;
  margin-top: 10px;
}
.price-title {
  position: relative;
  display: flex;
  padding: 90px 90px;
  left: 55px;
}

.price-title h1 {
  position: relative;
  top: 35px;
  left: 25px;
  font-size: 34px;
}

.price-title img {
  width: 80px;
}

table {
  position: relative;
  left: 150px;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 4px 11px;
  font-size: 28px;
}

table,
td {
  border: 1px solid black;
}

.box-price {
  width: 25%;
  height: 200px;
  position: relative;
  top: 200px;
  left: 260px;
  padding: 20px;
  background-color: var(--main-color);
  border: solid 1px var(--secondary-color);
  border-radius: 10px;
}

.box-price h1 {
  font-size: 28px;
}

.box-price .price-link {
  display: flex;
  flex-direction: column;
}

.box-price .price-link a {
  color: var(--secondary-color);
  transition: all .3s ease;
}

.box-price .price-link a:hover {
  color: var(--third-color);
}
