@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("pricestyle.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--third-color);
  overflow-x: hidden;
}

:root {
  --main-color: #5c8bc2;
  --secondary-color: black;
  --third-color: #f3f2ed;
}

/* NAVBAR START */
.logo {
  color: white;
  align-items: center;
}

.navbar {
  margin: auto;
  width: 100%;
  background-color: var(--secondary-color);
  opacity: 80%;
  height: 5rem;
  padding: 1rem 7%;
  position: fixed;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--third-color);
  z-index: 999;
}

.navbar .logo {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.navbar .navbar-menu a {
  cursor: pointer;
  display: inline-block;
  color: var(--third-color);
  margin: 0 0.5rem;
  align-items: center;
  font-size: 1rem;
  transition: all .2s linear;
}

.navbar .navbar-menu a:hover {
  color: var(--main-color);
}

.navbar .navbar-menu a::after {
  content: '';
  display: block;
  bottom: .4rem;
  transform: scaleX(0);
  border-bottom: .1rem solid var(--main-color);
  transition: transform 0.2s linear;
}

.navbar-menu a:hover::after {
  transform: scaleX(.5);
  
}

.navbar .navbar-extra {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* BUTTON SIGN IN & UP */
.navbar-sign-in-up {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.navbar-sign-in-up .navbar-signin, .navbar-sign-in-up .navbar-signup {
  padding: 1rem;
  border-radius: 1.2rem;
  border: 1px solid var(--main-color);
  transition: all .2s linear;
}

.navbar-sign-in-up .navbar-signup {
  border: none;
}

.navbar-signin a, .navbar-signup a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--third-color);
}

.navbar .navbar-sign-in-up .navbar-signin:hover {
  background-color: var(--main-color);
}

.navbar .navbar-sign-in-up .navbar-signup:hover {
  background-color: var(--main-color);
}

/* BUTTON SIGN END */

.navbar-burger {
  display: none;
  align-items: center;
  font-size: 30px;
  padding-right: 50px;
  color: var(--main-color);
}

.navbar-burger span i {
  cursor: pointer;
}
/* NAVBAR END */

/* HERO SECTION */
.hero {
  height: 100vh;
  background-color: var(--main-color);
}

.container-home {
  text-align: center;
  align-items: center;
  padding-top: 15rem;
}

.container-home h1 {
  width: 80%;
  color: var(--secondary-color);
  font-size: 5rem;
  bottom: 30px;
  line-height: 5rem;
  margin: auto;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.container-home h1 span {
  color: var(--third-color);
}

.container-home h3 {
  font-weight: 200;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.container-home .btn-pesan, .btn-contact {
  background-color: var(--secondary-color);
  font-size: 20px;
  color: var(--third-color);
  border-radius: 1.2rem;
  padding: 1.4rem;
  margin-top: 2rem;
  border: 2px solid var(--secondary-color);
  transition: all 0.3s ease;
}

.container-home .btn-pesan:hover, .btn-contact:hover {
  background-color: transparent;
  color: var(--secondary-color);
}
/* HERO END

/* SERVICE PAGE */
.service-list {
  height: 100%;
}

.service-list .lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 3fr));
  gap: 1.5rem;
  margin: 7rem 5rem;
  position: relative;
}

.service-list h1,
.whyus-page h1, 
.map h1, 
.pricing h1,
.section-faq h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  padding-top: 7rem;
  color: var(--main-color);
}

.lists .list {
  display: flex;
  align-items: center;
  padding: 1rem 7%;
  border-radius: 1.2rem;
  border: 2px solid var(--main-color);
  text-align: center;
  background-color: var(--main-color);
  transition: 0.3s linear;
  cursor: pointer;
}

.lists .list:hover {
  background-color: var(--third-color);
}

.lists .list .list-img img {
  height: 5rem;
}

.lists .list span {
  margin-left: 1.5rem;
  font-size: 2rem;
  margin-top: 1rem;
}
/* SERVICE END */

/* ABOUT US START */
.aboutus {
  padding: 8rem 7% 1.4rem;
  background-color: var(--main-color);
  height: 100%;
}

.aboutus h1 {
  color: var(--third-color);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.aboutus .row {
  display: flex;
  border-radius: 1.2rem;
  background-color: var(--third-color);
  padding: 6rem 7%;
  gap: 2rem;
  margin-bottom: 5rem;
}

.aboutus .row .aboutus-img {
  flex: 1 1 1 45rem;
}

.aboutus .row img {
  width: 100%;
  height: 100%;
}

.aboutus p {
  font-weight: 200;
  text-align: justify;
  margin-bottom: 1rem;
}

.aboutus button {
  font-size: 1rem;
  padding: 1.3rem 1.6rem;
  background-color: var(--main-color);
  border-radius: 1rem;
  border: 1px solid var(--main-color);
  transition: 0.2s linear;
  color: var(--third-color);
}

.aboutus button:hover {
  background-color: var(--third-color);
  color: var(--main-color);
}

/* ABOUT US END */

/* BERLANGGANAN START */
.pricing {
  width: 100%;
}

.pricing-wrapper {
  display: flex;
  padding: 3rem 7%;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}
.pricing-wrapper .pricing-card {
  position: relative;
  background-color: var(--main-color);
  padding: 2rem ;
  width: 25rem;
  height: 40rem;
  color: var(--third-color);
  border-radius: 1rem;
  transition: .2s linear;
}

.pricing-wrapper .pricing-card:hover {
  box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 3);
}

.pricing-card#card-premium {
  width: 26rem;
  height: 43rem;
  /* border: 2px solid var(--secondary-color); */
}

.pricing-card h3 {
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.pricing-card h2 {
  text-align: center;
  margin: 1.3rem;
  font-size: 1.8rem;
  font-weight: 200;
}

.pricing-card .pricing-benefits {
  margin: 1.6rem 7%;
  margin-top: 3rem;
  text-align: center;
}

.pricing-card li {
  display: flex;
  font-size: 1.1rem;
  line-height: 2rem;
  align-items: center;
  gap: 1rem;
}

.pricing-card li i {
  font-size: 1.4rem;
}

.pricing-card button {
  display: flex;
  background-color: var(--main-color);
  width: 18rem;
  height: 5rem;
  border-radius: 1.2rem;
  border: 2px solid var(--third-color);
  padding: 5rem auto;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
  margin: auto;
  margin-top: 4rem;
  cursor: pointer;
  transition: .3s linear;
}

.pricing-card button:hover {
  background-color: var(--third-color);
  color: var(--main-color);
}

/* BERLANGGANAN END */

/* WHY US PAGE START */
.whyus-page {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-color: var(--third-color);
}

.whyus-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  justify-content: center;
}

.whyus-wrapper .whyus-image {
  background-color: var(--main-color);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  margin: auto auto;
  border-radius: 50%;
}

.whyus-wrapper .whyus-image img {
  width: 10rem;
}

.whyus-wrapper h2 {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 500;
}

.whyus-wrapper p {
  max-width: 20rem;
  margin: auto;
  margin-top: 1rem;
  font-size: 1.1rem;
}

/* WHY US END */

/* FAQ SECTION START */
.section-faq {
  background-color: var(--main-color);
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20rem;
}

.faq {
  max-width: 50rem;
  margin-top: 2rem;
  border-bottom: solid .4px;
  cursor: pointer;
  color: var(--secondary-color);
}

.section-faq .title {
  color: var(--third-color);
}

.section-faq .title span {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 35px;
}

.faq h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.faq .question {
  display: flex;
}

.faq .question i {
  position: relative;
  bottom: 5px;
  align-self: center;
  margin-left: 20px;
  font-size: 25px;    
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.3s ease;
}

.answer p {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.6;
  font-size: 1.2rem;
}

.faq.active .answer {
  max-height: 300px;
}
/* FAQ SECTION END */

/* SLOGAN START */
hr {
  width: 70%;
  border: none;
  height: 2px;
  color: #333;
  margin: auto;
  background-color: #333;
}

.slogan {
  width: 70%;
  background-color: var(--third-color);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
/* SLOGAN END */

/* MAP SECTION */
.map {
  /* height: 100vh; */
  /* width: 100%; */
  margin: 5rem auto;
} 

.map-bg {
  background-color: #5c8bc2;
  width: 80%;
  height: 30rem;
  border-radius: 1.2rem;
  margin: auto;
  display: flex;
  align-items: center;
}

#map {
  width: 95%;
  height: 90%;
  border-radius: 1.2rem;
  margin: auto;
}

/* FOOTER START */
footer {
  background-color: var(--main-color);
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-container {
  width: 100%;
  margin: auto;
  justify-content: center;
}

.footer-content {
  width: 50%;
  margin: 1rem auto;
}

.footer-container ul {
  text-align: center;
}

.footer-container ul li i{
  font-size: 2.5rem;
}

.footer-container ul li {
  display: inline-block;
}

.footer-container .link-list li {
  margin-top: 1rem;
  margin-left: 1.8rem;
}

.footer-social i {
  color: var(--secondary-color);
  padding-right: 30px;
  transition: all 0.3s ease;
}

.footer-social i:hover {
  color: var(--third-color);
}

.footer-content .footer-social {
  position: relative;
  display: flex;
  left: 18px;
  text-align: center;
  justify-content: center;
  font-size: 24px;
}

.link-list a {
  color: var(--secondary-color);
  font-size: 18px;
  transition: all 1s ease;
}

.link-list a:hover {
  color: var(--third-color);
}

.bottom-bar {
  background-color: var(--secondary-color);
  color: var(--third-color);
  font-size: 14px;
  text-align: center;
  padding: 10px;
}
/* FOOTER END */

/* MODAL SECTION START */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  backdrop-filter: blur(5px);
  z-index: 9999;
}

.modal-container {
  width: 80%;
  height: auto;
  position: relative;
  margin: auto auto;
  padding: 3rem 7%;
  border-radius: 1.2rem;
  border: 2px solid var(--third-color);
  background-color: var(--main-color);
  animation: animationModal .3s;
}

.modal .close-btn {
  position: absolute;
  top: -20px;
  left: 98%;
  background-color: var(--main-color);
  padding: 0.5rem 1rem;
  color: var(--third-color);
  font-size: 1.6rem;
  border: 2px solid var(--third-color);
  border-radius: 50%;
}

.modal h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.8rem;
  color: var(--third-color);
}

.modal .modal-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}

.modal img {
  width: 20rem;
}

.modal-content li {
  font-size: 1.5rem;
  color: var(--third-color);
}

.modal-content button {
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--main-color);
  border: 1px solid var(--third-color);
  border-radius: 1.2rem;
  color: var(--third-color);
  transition: .3s linear;
}

.modal-content button:hover {
  background-color: var(--third-color);
  color: var(--main-color);
}

/* MODAL SECTION END */

/* RESPONSIVE CODE */
/* LAPTOP */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar {
    padding: 1rem 3%;
    margin-right: 0;
  }

  .navbar-extra .navbar-burger {
    display: inline-block;
  }

  .navbar .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    background-color: var(--secondary-color);
    transition: all .5s linear;
  }

  .navbar .navbar-menu.active {
    right: 0;
    transition: all .3s linear;
  }

  .navbar .navbar-menu a {
    display: block;
    margin: 2rem;
    padding: .5rem;
    color: var(--main-color);
    font-size: 2rem;
  }

  .navbar .navbar-menu a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-menu a:hover::after {
    transform: scaleX(.2);
  }

  .aboutus .row {
    flex-wrap: wrap;
  }

  .whyus .whyus-wrapper {
    flex-wrap: wrap;
  }

  .footer-container {
    flex-wrap: wrap;
  }

  .modal .modal-wrapper {
    flex-wrap: wrap;
  }

  .pricing-wrapper {
    flex-wrap: wrap;
  }

  .faq {
    max-width: 80%;
  }

}

/* MOBILE */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* ANIMATION SECTION */
@keyframes animationModal {
  from {
    top: -300px;
    opacity: 0;
  } to {
    top: 0;
    opacity: 100%;
  }
}

@keyframes animationModalClose {
  from {
    top: 0;
    opacity: 100%;
  } to {
    top: -300px;
    opacity: 0;
  }
}