@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("pricestyle.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--third-color);
  overflow-x: hidden;
}

:root {
  --main-color: #5c8bc2;
  --secondary-color: black;
  --third-color: #f3f2ed;
}

/* NAVBAR START */
.logo {
  color: white;
  align-items: center;
}

.navbar {
  margin: auto;
  width: 100%;
  background-color: var(--secondary-color);
  height: 5rem;
  justify-content: space-between;
  display: flex;
}

.navbar .logo {
  display: flex;
  font-size: 1.5em;
  font-weight: 900;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 2em;
  transform: all 0.5s ease;
}
.navbar-menu a{
  color: var(--main-color);
  font-weight: 100;
  font-size: 15px;
}

.navbar .navbar-menu li:hover {
  transform: scale(1.1);
}

.navbar-menu a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.navbar-menu a:hover::before {
  transform: scaleX(1);
}

.navbar-sign-in-up {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-signin {
  border: 40px;
  width: 5rem;
  border-radius: 30px;
  margin-left: -100px;
  font-weight: 600;
  text-align: center;
  padding: 7px;
  background-color: var(--secondary-color);
  transition: all 0.5s ease;
}

.navbar-signin a {
  color: var(--main-color);
}

.navbar-signup {
  border: 40px;
  width: 5rem;
  border-radius: 30px;
  padding: 7px;
  font-weight: 600;
  text-align: center;
  background-color: var(--main-color);
  transition: all 0.5s ease;
}

.navbar-signup a {
  color: black;
  transition: all 0.2s ease;
}

.navbar-signin:hover {
  background-color: var(--main-color);
  border: none;
}

.navbar-signin a:hover {
  color: var(--secondary-color);
}

.navbar-signup:hover {
  background-color: var(--secondary-color);
  border: none;
}

.navbar-signup:hover a {
  color: var(--main-color);
}

.navbar-burger {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding-right: 50px;
  color: var(--main-color);
}

.navbar-burger span i {
  cursor: pointer;
}
/* NAVBAR END */

/* HERO SECTION */
.container-home {
  height: auto;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 20%;
  background-color: var(--main-color);
}

.container-home h1 {
  position: relative;
  width: 70%;
  color: var(--secondary-color);
  font-size: 48px;
  bottom: 30px;
  left: 15%;
}

.container-home h3 {
  font-weight: 100;
  margin-bottom: 20px;
}

.container-home .btn-pesan {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 50px;
  border: 1px solid var(--secondary-color);
  padding: 10px;
  transition: all .3s ease-in-out;
}

.container-home .btn-pesan:hover {
  background-color: transparent;
  color: var(--secondary-color);
}
/* HERO END

/* SERVICE PAGE */
.service-list {
  width: 100%;
  box-shadow: 100px solid black;
  background-color: var(--third-color);
}

.service-list .top-list {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.service-list .top-list .list {
    display: flex;
    width: 300px;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--third-color);
    padding-top: 100px;
    padding-right: 30px;
    padding: 10px 10px;
    margin-right: 20px;
    transition: all 0.5s ease;
  }

.service-list .top-list .list a {
  display: flex;
  color: black;
}

.service-list .top-list .list:hover {
  background-color: var(--main-color);
  transform: scale(1.1);
}

.service-list .top-list .list span {
  width: 50%;
  position: relative;
  text-align: justify;
  font-size: 40px;
  text-decoration: double;
  line-height: 40px;
  cursor: default;
  margin-left: 20px;
}

.service-list .top-list .list img {
  height: 50px;
  width: auto;
  margin-top: 15px;
  margin-right: 20px;
}

.service-list .bottom-list {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.service-list .bottom-list .list {
    display: flex;
    width: 300px;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--third-color);
    padding-top: 50px;
    padding-right: 30px;
    padding: 10px 10px;
    margin-right: 20px;
    transition: all 0.5s ease;
  }

.service-list .bottom-list .list a {
  display: flex;
  color: black;
}

.service-list .bottom-list .list:hover {
  background-color: var(--main-color);
  transform: scale(1.1);
}

.service-list .bottom-list .list span {
  width: 50%;
  position: relative;
  text-align: justify;
  font-size: 40px;
  text-decoration: double;
  line-height: 40px;
  cursor: default;
  margin-left: 20px;
}

.service-list .bottom-list .list img {
  height: 50px;
  width: auto;
  margin-top: 15px;
  margin-right: 20px;
}
/* SERVICE END */

/* ABOUT US START */
.aboutus-container {
  width: 100%;
  height: 70vh;
  justify-content: center;
  background-color: var(--main-color);
}

.aboutus-title {
  position: absolute;
  top: 80px;
  left: 95px;
  font-size: 18px;
  font-weight: bolder;
}

.aboutus-container .aboutus-text {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 60px;
}

.aboutus-container img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  right: 50%;
  flex: 1;
  float: right;
  margin-right: 150px;
}

.aboutus-description {
  width: 70%;
  height: auto;
  word-spacing: 1.5ch;
  font-size: 15px;
  text-align: justify;
  margin-left: 100px;
}

.aboutus-pesan {
  width: auto;
  position: relative;
  background-color: var(--main-color);
  font-weight: 500;
  border: none;
  font-size: 20px;
  left: 100px;
  bottom: 90px;
}

.aboutus-pesan a {
  color: black;
  transition: 0.7s all ease;
}

.aboutus-pesan a:hover {
  color: var(--third-color);
  transform: scale(1.05);
}
/* ABOUT US END */

/* WHY US PAGE START */
.whyus-page {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-color: var(--third-color);
}

.whyus-title h1 {
  position: relative;
  top: 100px;
  text-align: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 900;
}

.whyus-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
}

.whyus-content {
  width: 25%;
  margin-right: 20px;
}

.whyus-content span {
  font-size: 14px;
}

.whyus-content .whyus-image {
  position: relative;
  top: -40px;
  left: 150px;
  width: 100px;
  height: 100px;
  background-color: var(--main-color);
  border-radius: 100%;
}

.whyus-content img {
  position: relative;
  top: 20px;
  width: 60px;
  margin-bottom: 20px;
  height: auto;
}
/* WHY US END */

/* SLOGAN START */
hr {
  width: 70%;
  position: relative;
  border: none;
  height: 2px;
  color: #333;
  background-color: #333;
  bottom: -15px;
  left: 15%;
}

.slogan {
  width: 70%;
  background-color: var(--third-color);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 15%;
}
/* SLOGAN END */

/* FOOTER START */
footer {
  background-color: var(--main-color);
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 33.3%;
}

footer h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
}

footer p {
  width: 190px;
  margin: auto;
  padding: 4px;
}

.footer-container ul {
  text-align: center;
}

.footer-social i {
  color: var(--secondary-color);
  padding-right: 30px;
  transition: all 0.3s ease;
}

.footer-social i:hover {
  transform: scale(1.1);
  color: var(--third-color);
}

.footer-content .footer-social {
  position: relative;
  display: flex;
  left: 18px;
  text-align: center;
  justify-content: center;
  font-size: 24px;
}

.link-list a {
  color: var(--secondary-color);
  font-size: 18px;
  transition: all 1s ease;
}

.link-list a:hover {
  color: var(--third-color);
}

.bottom-bar {
  background-color: var(--secondary-color);
  color: var(--third-color);
  font-size: 14px;
  text-align: center;
  padding: 10px;
}
/* FOOTER END */

/* RESPONSIVE CODE */
@media screen and (max-width: 600px) {
  /* NAVBAR RESPONSIVE */
  .navbar-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30px;
    left: 0;
    width: 50%;
    max-width: 400px;
    padding-top: 45px;
    padding-bottom: 45px;
    height: auto;
    border-radius: 10px;
    background-color: var(--main-color);
    z-index: 12;
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
  }

  .navbar-menu a {
    color: var(--secondary-color);
  }

  .navbar-menu.slide {
    transform: translateX(0);
    transition: all .3s ease-in-out;
    opacity: .95;
    margin-left: 20px;
  }

  .navbar-sign-in-up {
    display: flex;
    margin-right: 90px;
    max-width: 20%;
    font-size: 10px;
    gap: 0;
  }

  .navbar .logo {
    width: 10%;
  }
  /* NAVBAR RESPONSIVE END */

  /* HERO RESPONSIVE */
.container-home {
  padding-top: 50px;
}

  .container-home h1 {
    font-size: 38px;
  }

  .container-home h3{
    font-size: 14px;
  }
  /* HERO RESPONSIVE END */

  /* SERVICE LIST RESPONSIVE */
  .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    gap: 20px;
  }

  .service-list .top-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .service-list .top-list .list {
    margin-top: 35px;
  }

  .service-list .bottom-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  } 

  .service-list .bottom-list .list {
    margin-bottom: 20px;
    gap: 0;
    margin-top: 20px;
  }
  /* SERVICE LIST RESPONSIVE END */

  /* ABOUT US RESPONSIVE */
    .aboutus-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .aboutus-container .aboutus-text {
      display: flex;
      flex-direction: column;
    }

    .aboutus-container .aboutus-title {
      font-size: 14px;
      top: -100px;
      justify-content: center;
      text-align: center;
    }

    .aboutus-description {
      position: relative;
      justify-content: center;
      display: flex;
      right: 50px;
      top: -70px;
      font-size: 12px;
    }

    .aboutus-container .aboutus-image {
      position: relative;
      left: 50px;
      top: 20px;
    }

    .aboutus-container .aboutus-pesan {
      width: 200px;
      position: relative;
      left: 150px;
      top: 50px;
      bottom: 0;
      background-color: var(--main-color);
    }

    /* WHY US RESPONSIVE */
    .whyus-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .whyus-wrapper .whyus-content {
      width: 70%;
      margin-left: 100px;
      margin-top: 60px;
      justify-content: center;
    }

    .whyus-wrapper .whyus-content h2, span {
      margin-right: 30px;
    }

    /* FOOTER RESPONSIVE */
    .footer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 55px;
    }

    .footer-container .footer-content {
      padding-top: 50px;
    }
}

@media screen and (max-width: 650px) {
  .navbar-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30px;
    left: 0;
    width: 50%;
    max-width: 400px;
    padding-top: 45px;
    padding-bottom: 45px;
    height: auto;
    border-radius: 10px;
    background-color: var(--main-color);
    z-index: 12;
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
  }

  .navbar-menu a {
    color: var(--secondary-color);
  }

  .navbar-menu.slide {
    transform: translateX(0);
    transition: all .3s ease-in-out;
    opacity: .95;
    margin-left: 20px;
  }

  .navbar-burger {
    position: relative;
    left: 30px;
  }

  .navbar-sign-in-up {
    display: flex;
    margin-right: 90px;
    width: 20%;
    font-size: 10px;
    gap: 0;
  }

  .navbar .logo {
    width: 10%;
  }
}

/* TABLET SCREEN */
@media screen and (max-width: 796px) {
  .navbar-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    top: 30px;
    left: 0;
    width: 50%;
    max-width: 400px;
    padding-top: 45px;
    padding-bottom: 45px;
    height: auto;
    border-radius: 10px;
    background-color: var(--main-color);
    z-index: 12;
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
  }

  .navbar-menu a {
    color: var(--secondary-color);
  }

  .navbar-menu.slide {
    transform: translateX(0);
    transition: all .3s ease-in-out;
    opacity: .95;
    margin-left: 20px;
  }

  .navbar-menu li {
    width: 50%;
  }

  .navbar-sign-in-up {
    position: relative;
    left: 170px;
  }
}

@media screen and (max-width: 986px) {
  .navbar-menu {
    font-size: 10px;
  }

  .navbar-sign-in-up {
    font-size: 12px;
  }
}

/* DEKSTOP SCREEN */
@media screen and (min-width: 986px) {
  .navbar-burger {
    display: none;
  }

  .navbar-sign-in-up {
    margin-right: 150px;
  }
}
